:root {
  --orange: #F9AA33;
  --blue-text: #536DFE;
  --light-text-gray: #BDBDBD;
  --dark-text-gray: #616161;
  --nav-text-light: rgba(55, 71, 79, 0.4);
  --nav-text-dark: rgba(55, 71, 79, 1);
  --panel-text: rgba(83, 109, 254, 0.8);
  --pending-panel-text: rgba(83, 109, 254, 0.6);
  --panel-icon: rgba(83, 109, 254, 0.2);
  --footer-text-gray: #C2C2C2;
  --pending-text-gray: #D4DCDF;
  --pending-ellipses-purple: #DDE2FF;
  --medium-gray: rgba(207, 216, 220, 0.9);/*For border*/
  --light-gray: rgba(245, 246, 246, 0.5);/*Site background*/
  --line-gray: rgba(225, 227, 231, 0.4);
  
  --rewards-text-green: #54AE6F;
  --rewards-background-green: rgba(84, 174, 111, 0.1);
  
  --rubik: 'Rubik', sans-serif;
  --open-sans: 'Open Sans', sans-serif;
  --pt-serif: 'PT Serif', serif;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: var(--open-sans);
  background-color: var(--light-gray);
}

.app-shell {
  width: 936px;
}

h1 {
  font-family: var(--pt-serif);
}

.green-text {
  color: #54AE6F;
}

.blue-text {
  color: #536DFE;
}

.red-text {
  color: #FF4081;
}

.turquois-text {
  color: #2D9CDB;
}

.form-vivid-blue {
  color: rgba(48, 79, 254, 0.6);
}

.align-left {
  text-align: left;
}
