:root {
    --active-button-border: #304ffe;
    --orange: #f9aa33;
    --blue-text: #536DFE;
    --blue-onHover: #4864FE;
    --blue-onHover-border: #2545FE;
    --wrong-network-border: #D81B60;
    --wrong-network-border-hover: #C2185B;
    --wrong-network-hover: #E91E63;
    --wrong-network: #EC407A;
    --light-text-gray: #bdbdbd;
    --text-gray-onHover: #727D82;
    --dark-text-gray: #616161;
    --nav-text-light: rgba(55, 71, 79, 0.4);
    --nav-text-dark: rgba(55, 71, 79, 1);
    --panel-text: rgba(83, 109, 254, 0.8);
    --pending-panel-text: rgba(83, 109, 254, 0.6);
    --panel-icon: rgba(83, 109, 254, 0.2);
    --panel-icon-2: #758afe;
    --panel-pending: #98a7fe;
    --footer-text-gray: #c2c2c2;
    --pending-text-gray: #d4dcdf;
    --pending-ellipses-purple: #dde2ff;
    --medium-gray: rgba(207, 216, 220, 0.9); /*For border*/
    --light-gray: #FAFAFA; /*Site background*/
    --line-gray: rgba(225, 227, 231, 0.4);
    --turquois-text: #2d9cdb;
    --white: #ffffff;

    --rewards-text-green: #54ae6f;
    --rewards-background-green: rgba(84, 174, 111, 0.1);

    --roboto: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: var(--roboto);
    background-color: var(--light-gray);
    src: url('/public/fonts/Roboto-Regular.ttf');
    src: url('/public/fonts/Roboto-Medium.ttf');
    src: url('/public/fonts/Roboto-Bold.ttf');
}

.app-shell {
    width: 936px;
    min-height: 100vh;
}

.green-text {
    color: #54ae6f;
}

.blue-text {
    color: var(--blue-text);
}

.red-text {
    color: #ff4081;
}

.turquois-text {
    color: var(--turquois-text);
}

.form-vivid-blue {
    color: rgba(48, 79, 254, 0.6);
}

.align-left {
    text-align: left;
}



