:root {
  --active-button-border: #304FFE;
  --orange: #F9AA33;
  --blue-text: #536DFE;
  --light-text-gray: #BDBDBD;
  --dark-text-gray: #616161;
  --nav-text-light: rgba(55, 71, 79, 0.4);
  --nav-text-dark: rgba(55, 71, 79, 1);
  --panel-text: rgba(83, 109, 254, 0.8);
  --pending-panel-text: rgba(83, 109, 254, 0.6);
  --panel-icon: rgba(83, 109, 254, 0.2);
  --panel-icon-2: #758AFE;
  --panel-pending: #98A7FE;
  --footer-text-gray: #C2C2C2;
  --pending-text-gray: #D4DCDF;
  --pending-ellipses-purple: #DDE2FF;
  --medium-gray: rgba(207, 216, 220, 0.9);/*For border*/
  --light-gray: rgba(245, 246, 246, 0.5);/*Site background*/
  --line-gray: rgba(225, 227, 231, 0.4);
  --turquois-text: #2D9CDB;
  
  --rewards-text-green: #54AE6F;
  --rewards-background-green: rgba(84, 174, 111, 0.1);
  
  --roboto: 'Roboto', sans-serif;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: var(--roboto);
  background-color: var(--light-gray);
  src: url('/public/fonts/Roboto-Regular.ttf');
  src: url('/public/fonts/Roboto-Medium.ttf');
  src: url('/public/fonts/Roboto-Bold.ttf');
  
}

.app-shell {
  width: 936px;
}

.green-text {
  color: #54AE6F;
}

.blue-text {
  color: var(--blue-text);
}

.red-text {
  color: #FF4081;
}

.turquois-text {
  color: var(--turquois-text);
}

.form-vivid-blue {
  color: rgba(48, 79, 254, 0.6);
}

.align-left {
  text-align: left;
}
